body {
    background-color: rgb(182, 230, 86);
    margin: 0;
    padding: 0.25in;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
    height: 100%;
}
html {
    height: 100%;
    font-size: 50px;
}
* {
    text-transform: uppercase;
}
a {
    font-weight: bold;
    text-decoration: none;
    color:black;
    background-color: rgb(72, 235, 247);
    border: 4px solid black;
    padding: 5px;
    margin: 5px;
}
a:hover {
    background-color: rgb(197, 179, 16);
}