body {
    margin: 0;
    height: 100%;
    display: grid;
    background-color: rgb(133, 133, 133);
}
header {
    border: 5px solid rgb(82, 56, 33);
    background-color: rgba(255, 214, 79, 0.808);
    display: grid;
//    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    min-height: fit-content;
    height: 20in;
//  height: 11in;
}
nav {
    border: 2px solid rgb(82, 56, 33);
    text-align: center;
    display: flex;
    height: inherit;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    align-items: center;
}
a {
//    background-color: rgba(255, 255, 255, 0.596);
    color: black;
    text-decoration: none;
    margin: 1px 2px;
    font-weight: bold;
    width: fit-content
}
a:hover {
    text-decoration: underline;
//    font-style: italic;
}
table {
    border: 8px solid rgb(0, 0, 0);
    background-color: rgb(128, 127, 127);
    text-align: center;
    table-layout: fixed;
    width: 98%;
    margin: 3vh 1%;
    border-radius: 10px;
    justify-self: center;
    font-family: sans-serif;
}
tr {
    height: 4em;
}
th {
    border: 1px solid black;
    background-color: rgb(228, 178, 15);
    font-size: 200%;
    letter-spacing: 0.1em;
    word-spacing: 0.25em;
    font-weight: bold;
    overflow-wrap: break-word;
    text-wrap: wrap;
}
td {
    border: 1px solid black;
    background-color: white;
    font-size: 140%;
    overflow-wrap: break-word;
    text-wrap: wrap;
}
img {
    height: 2.5in;
    border-right: 3px solid black
}
.winner {
    background-color: rgb(228, 195, 105);
}
.links {
    background-color: white;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    table-layout: fixed;
    width: 98%;
//    margin: 3vh 1%;
    justify-self: center;
    border-color: black;
}
#main-links {
    grid-column: span 3;
    height: fit-content;
    font-size: 150%;
}
#girder-top {
    height: 1em;
}
#girder-bottom {
    height: 1em;
}
#bio {
    height: fit-content;
    border: 5px solid black;
    display: flex;
    font-size: 200%;
    font-weight: bold;
}
#name {
    margin-left: 1em;
}